
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    padding: 20px;
    align-content:center;
    justify-content:center;
  
}

.card {
    display: inline-block;
    margin: 10px;
}

.elevated-button {
  background-color: #45a049;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  font-weight:bold;
    margin: 50% auto;
    cursor: pointer;
    border-radius: 8px;
}
.elevated-button:hover{

  background-color: #0024b3;
  
}

.bottom-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.github-link {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

footer {
    margin-top: 5px;
}
