<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- This is a error handling page just like a 404, when an error occurs you will be redirected here -->
  <div class="error-page">
      <div class="error-card">
          <h1>Error Encountered</h1>
          <p>Sorry, something went wrong. The Robots have won This time!!.</p>
           <h2>{error_message}</h2>
      </div>
      <a class="back-home-button" href="/">Back to Home</a>
  </div>
</body>
</html>