{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Barrack Amuyunzu</title>

</head>
<body>
    <div class="content">
  <h1>Random Assignment @ PLP</h1>

    <div class="card">
      <a href="{% url 'fact_view' %}" class="elevated-button">Random Fact</a>
    </div>

    <div class="card">
      <a href="{% url 'dog_view' %}" class="elevated-button">Random Dog Picture</a>
    </div>

    <div class="card">
      <a href="{% url 'random_student' %}" class="elevated-button">Random Student</a>
    </div>
  </div>

  <div class="bottom-panel">
    <a href="https://github.com/amuybar?tab=repositories" class="github-link">GitHub</a>
    <footer>&copy; PLP Hackthon Assignment</footer>
  </div>
</body>
</html>
