{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'student.css'%}">
  <title>Random students</title>
<!--A very small script to help refresh so we can get random detailsa  -->
  <script>
    function generateRandomStudent() {
            fetch('/generate_random_student/')  // Call the URL mapped to generate_random_student view
            .then(response => response.text())  // Extract the response text
            .then(html => {
                // Replace the current page content with the response HTML
                document.open();
                document.write(html);
                document.close();
            });
        }
    </script>
</head>
<body>
  <nav class="navbar">
      <a class="back-button" href="/">Back</a>
      <h1>Random Student Details</h1>
  </nav>

  <div class="body-content">
    <!-- Geting the student passed from the view so that we can access its values -->
    <button class="elevated-button" onclick="generateRandomStudent()">Press Here to generate random student</button>

      <div class="student-card">
        <h1>Random Student Details</h1>
          <p>Name: {{ student.name }}</p>
          <p>Age: {{ student.age }}</p>
          <p>Gender: {{ student.gender }}</p>
          <p>Email: {{ student.email}}</p>
          <p>Phone: {{ student.phone}}</p>
          
      </div>
      <div class="spin-count-card">
     <p>Refresh Count: {{ refresh_count}}</p>
      </div>
  </div>
</body>
</html>